<!DOCTYPE html>
    <!-- {% load static from staticfiles %} -->
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Exercise File</title>
    <!-- <script src="js/exercise.js">  </script> -->

    <script src="{% static "/ex/js/ex.js" %}"></script>

  </head>

  <body>
      <h1>This is the test file for js!</h1>
      <p></p>
      {{ testfromexercise }}

      <!-- this tag is coming from the function in views.py
          for this app (exercise). The view is called by the urls file on the same
          app-->
          <img src="{% static "images/download.png" %}" alt="Uh Oh, didn't show!">

  </body>
</html>
